<!DOCTYPE html>
<html>
<head>
    <title>Lotus {{ configargs['stationtype'] }}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='water.css') }}"/>
</head>
<body>
    <img src="{{ url_for('static', filename='lotus_logo.svg') }}" alt="Lotus" style="max-height:32px" width="671" height="133" />

    <h1>{{ configargs['stationtype'] }}</h1>
    <form action="/" method="POST">
	{% for c in configargs['columns'] %}
	  <fieldset>
		<legend> {{ c['name'] }} </legend>
		<div>
		  {{ c['prompt'] }}
		  {% if c['inputtype'] == 'text' %}
                	<input type="text" name="{{ c['name'] }}" maxlength="20" id="{{ c['name'] }}" required="required">
		  {% endif %}
		  {% if c['inputtype'] == 'radiobutton' %}
			{% for opt in c['radiooptions'] %}
            			<input type="radio" id="{{ opt['name'] }}" name="{{ opt['name'] }}" value="{{ opt['name'] }}" required/>
            			<label for="{{ opt['name'] }}">{{ opt['name'] }}</label>
			{% endfor %}
		  {% endif %}
		</div>
	  </fieldset>
	{% endfor %}
    </form>      
</body>
</html>
